<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="productos">Productos</a>
        </li>
        <li *ngIf="bandera" class="nav-item">
          <a class="nav-link" href="login" (click)="logOut()">Salir</a>
        </li>
        <li *ngIf="!bandera" class="nav-item">
          <a class="nav-link" href="register">Registrarte</a>
        </li>
        <li *ngIf="!bandera" class="nav-item">
          <a class="nav-link" href="login">Ingresar</a>
        </li>
        <li *ngIf="bandera" class="nav-item">
          <a class="nav-link" href="account">Perfil</a>
        </li>
        <li *ngIf="admin" class="nav-item">
          <a class="nav-link" href="inicio">CRUD productos</a>
        </li>
        <li *ngIf="bandera" class="nav-item">
          <a class="nav-link" href="carrito"><img class="carrito" src="../../../assets/image/shop.png" alt=""></a>
        </li>
        <div *ngIf="bandera"> <pre class="nav-link">Bienvenido {{ user?.nombre}}</pre></div>

      </ul>
    </div>
  </div>
</nav>
