<form class="form" #frmLogin="ngForm" (ngSubmit)="onRecover(frmLogin)">
  <h2 class="form__title">Recuperar contraseña</h2>

  <div class="form__container">
    <div class="form__group">
      <input
        type="text"
        id="username"
        name="correo"
        class="form__input"
        placeholder="Correo"
        ngModel
        required
      />
      <label for="nombre" class="form__label">Correo:</label>
      <span class="form_line"></span>
    </div>

    <input type="submit" class="form__submit" value="Ingresar" />
  </div>

</form>
